@font-face {
  font-family: "Funnel Sans";
  src: url("../fonts/funnel-sans-v3-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Funnel Sans";
  src: url("../fonts/funnel-sans-v3-latin-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Funnel Sans";
  src: url("../fonts/funnel-sans-v3-latin-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Funnel Sans";
  src: url("../fonts/funnel-sans-v3-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Funnel Sans";
  src: url("../fonts/funnel-sans-v3-latin-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --app-font: "Funnel Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
}
